@import './style-fundamentals/all';
@import './style-core/all';

body {
  background-color: #f4f7fc;
  
  &.loading {
    background-color: white;
   .wrapper {
     display: none !important;
     * {
      display: none !important;
     }
   }
  }
  &:after {
    content: '';
    display: block;
    margin: auto;
    width: 340px;
    height: 340px;
    background-image: url('/static/plane_loading.gif');
  }
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;

  left: 0;
  right: 0;

  background-color: white;
  min-height: 100vh;
  max-width: 1000px ;
  margin: auto;
  padding: 1%;  

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    svg {
      max-width: 100%;
    }

    @media only screen and (max-width: 600px) {
      text-align: center;
      flex-direction: column-reverse;

      h1 {
        margin: -35px 0 20px;
      }
    }
  }
}